@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'DancingScript';
		src: url('/font/DancingScript.ttf');
		weight: '700';
	}

	@font-face {
		font-family: 'OpenSans';
		src: url('/font/OpenSans.ttf');
		weight: '400';
	}

	@font-face {
		font-family: 'KaushanScript';
		src: url('/font/KaushanScript.ttf');
		weight: '400';
	}

	:root {
		--primary: #272b30;
		--secondary: #3a3f44;
	}

	/* Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--secondary) var(--primary);
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 15px;
	}

	*::-webkit-scrollbar-track {
		background: var(--primary);
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--secondary);
		border: 3px solid var(--primary);
	}

	h1 {
		@apply text-center text-3xl sm:text-4xl lg:text-5xl;
	}

	h2 {
		@apply text-center text-3xl sm:text-4xl lg:text-5xl;
	}

	h3 {
		@apply text-center text-2xl sm:text-3xl lg:text-4xl;
	}

	h4 {
		@apply text-center text-xl sm:text-2xl lg:text-3xl;
	}

	h5,
	h6 {
		@apply text-center text-lg sm:text-xl lg:text-2xl;
	}
	a {
		@apply text-amarillo font-medium;
	}
}

@layer components {
}

@layer utilities {
	.toggle-btn {
		@apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
	}

	.brillo {
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		display: block;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		text-decoration: none;
	}

	.brillo:after,
	.brillo:before {
		width: 80px;
		height: 300%;
		content: '';
		display: block;
		background: rgba(255, 255, 255, 0.5);
		transform: rotate(45deg);
		top: -100%;
		position: absolute;
		transition: none;
	}

	.brillo:before {
		left: -500px;
		animation: animacionbuttonbefore 2s linear 1;
	}

	@keyframes animacionbuttonbefore {
		to {
			left: 1500px;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	.brillo:after {
		right: -500px;
		animation: animacionbuttonafter 2s linear 1;
	}

	@keyframes animacionbuttonafter {
		to {
			right: 1500px;
			background: rgba(255, 255, 255, 0.1);
		}
	}
}
