@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'DancingScript';
		font-weight: 700;
		src: url('$lib/font/DancingScript.ttf');
	}
	@font-face {
		font-family: 'OpenSans';
		font-weight: 400;
		src: url('$lib/font/OpenSans.ttf');
	}
	@font-face {
		font-family: 'KaushanScript';
		font-weight: 400;
		src: url('$lib/font/KaushanScript.ttf');
	}

	:root {
		--primary: #272b30;
		--secondary: #3a3f44;
	}

	/* Firefox */
	* {
		scrollbar-width: thin;
		scrollbar-color: var(--secondary) var(--primary);
	}

	/* Chrome, Edge, and Safari */
	*::-webkit-scrollbar {
		width: 15px;
	}

	*::-webkit-scrollbar-track {
		background: var(--primary);
	}

	*::-webkit-scrollbar-thumb {
		background-color: var(--secondary);
		border: 3px solid var(--primary);
	}

	h1 {
		@apply text-center text-3xl sm:text-4xl lg:text-5xl;
	}

	h2 {
		@apply text-center text-3xl sm:text-4xl lg:text-5xl;
	}

	h3 {
		@apply text-center text-2xl sm:text-3xl lg:text-4xl;
	}

	h4 {
		@apply text-center text-xl sm:text-2xl lg:text-3xl;
	}

	h5,
	h6 {
		@apply text-center text-lg sm:text-xl lg:text-2xl;
	}
	a {
		@apply text-amarillo font-medium;
	}
}

@layer components {
}

@layer utilities {
	.toggle-btn {
		@apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45 [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[720deg];
	}

	.sin_brillo {
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		display: block;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		text-decoration: none;
	}

	.sin_brillo:after,
	.sin_brillo:before {
		width: 80px;
		height: 300%;
		content: '';
		display: block;
		background: rgba(255, 255, 255, 0.5);
		transform: rotate(45deg);
		top: -100%;
		position: absolute;
		transition: none;
	}

	.sin_brillo:before {
		left: -500px;
	}

	.sin_brillo:after {
		right: -500px;
	}

	.brillo {
		margin: 0 auto;
		margin-top: 15px;
		margin-bottom: 15px;
		position: relative;
		display: block;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		overflow: hidden;
		box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
		text-decoration: none;
	}

	.brillo:after,
	.brillo:before {
		width: 80px;
		height: 300%;
		content: '';
		display: block;
		background: rgba(255, 255, 255, 0.5);
		transform: rotate(45deg);
		top: -100%;
		position: absolute;
		transition: none;
	}

	.brillo:before {
		left: -500px;
		animation: animation_button_before 2s linear 1;
	}

	@keyframes animation_button_before {
		to {
			left: 1500px;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	.brillo:after {
		right: -500px;
		animation: animation_button_after 2s linear 1;
	}

	@keyframes animation_button_after {
		to {
			right: 1500px;
			background: rgba(255, 255, 255, 0.1);
		}
	}

	/* 
  .brillo:hover {
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  }

  .brillo:hover:after,
  .brillo:hover:before {
    transform: rotate(45deg), scaleX(130%);
    background: rgba(255, 255, 255, 0.1);
    transition: all ease 3s;
  }

  .brillo:hover:after {
    right: 1500px;
  }

  .brillo:hover:before {
    left: 1500px;
  } */

	.handwriting {
		margin: 0 auto;
		padding: 20px;
		max-width: 500px;
		transition: all 1s ease;
		transition-delay: 1s;
	}

	.handwriting svg {
		position: relative;
		width: 100%;
		height: 100%;
	}

	.handwriting svg .texto {
		stroke-dasharray: 9000;
		stroke-dashoffset: 9000;
		animation: animation 7s linear 1 forwards;
	}

	@keyframes animation {
		to {
			stroke-dashoffset: 0;
		}
	}

	.animation-opacity {
		opacity: 0;
		animation: animation_opacity 4s linear 1 forwards;
	}

	@keyframes animation_opacity {
		to {
			opacity: 1;
		}
	}
}
